<body >
   
<div class="cuadro">
    
    <p><b>NOSOTROS</b><br> Somos una empresa peruana con un trayectoria en la comercialización de productos tecnológicos.
      Contamos una variedad de productos informáticos de calidad mundial a precios competitivos.</p>
</div>

<div class="slider">
  <ul>
    <li><img src="../../../assets/img/venta.png"></li>
    <li><img src="../../../assets/img/compra.png"></li>
    <!-- <li><img src="../../../assets/img/ofertacyber.png"></li>
    <li><img src="../../../assets/img/oferta.png"></li> -->
  </ul>
</div>

<div class="cuadro1">
    
    <p><br><b>Visión</b><br>
      Somos un grupo de peruanos con una clara visión, el hacer negocios, crear oportunidades,
       proporcionar productos de calidad e innovadores al país y ser líderes en la región.<br><br>
      <b>Misión</b><br>
      Somos una empresa comprometida con brindar productos de calidad a un buen precio para todo el público. Con el esfuerzo de nuestros trabajadores 
      buscamos crecer y sobrepasar nuestras metas para la satisfacción de todos nuestros públicos interesados.</p>
</div>
<div class="cuadro2">
  <p><br><b>Socios:</b><br><br>
  <img src="../../../assets/img/asus.png" alt="" width="350" height="250" ><br>
  <img src="../../../assets/img/coolbox.png" alt="" width="350" height="250" ><br>
  <img src="../../../assets/img/amd.png" alt="" width="350" height="250">
  </p>
</div>
</body>