
  
<div class="fondo">
  <img class="banner-image" src="../../../assets/img/fondo.png" width="100%" style="background-size: cover;">
</div>
<br>

<div class="border"></div>
<app-ofertas></app-ofertas>
<div class="border"></div>

<h2 style="text-align: center; color: #F57588; font-family: 'Montserrat';" ><small>NOVEDADES</small></h2>
<hr>
<div class="border"></div>
<br>
<app-slider></app-slider>
<br>
<div class="border"></div>
<h2 style="text-align: center; color: #F57588; font-family: 'Montserrat';" ><small>¿QUIENES SOMOS?</small></h2>
<div class="border"></div>

<div class="cuadro">
  <p>Somos una empresa peruana con un trayectoria en la comercialización de productos tecnológicos.
    Contamos una variedad de productos informáticos de calidad mundial a precios competitivos.</p>
</div>


