<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="filterPost" placeholder="Buscar.." [(ngModel)]='filterPost' >
            </div>
        </div>
    </div>
</div>
<div class="container">
<div *ngFor="let product of products" class="card card-body mb-2">
    <div class="row">
      <div class="col-md-8">
        <ul>
          <li>
            Nombre: {{product.nombre}}
          </li>
          <li>
            descripción: {{product.description}}
          </li>
          <li>
            Imagen: {{product.image}}
          </li>
          <li>
            precio: {{product.precio}}
          </li>
          
        </ul>
        
        <button class="btn btn-primary" type="button" (click)="goToBuy(product._id)">
          COMPRAR <i class="fas fa-cart-plus"></i>
        </button>
      </div>
      <div class="col-md-4">
        <img [src]="product.imageURL" class="card-img">
      </div>
    </div>
  </div>
</div>