/* input[type="text"]{
    font-size: 20px;
    width: 55%;
    padding: 7px;
    border: none;
    background: transparent;
    outline: none;
}
.form-group{
    margin-bottom: 15px;
    border: 2px solid #aaaaaa;
} */
