
<body>
<div class="container">
  <form class="formulario">
    <h1>LOGIN</h1>
    <div class="contenedor">
      <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
        <input type="text" placeholder="Usuario">
      </div>
      <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
        <input style="border: none;" type="password" placeholder="Contraseña">
      </div>
      <input type="submit" value="REGISTRATE" class="button"> 
    </div>
   
    <p>¿No tienes cuenta?<a class="link" (click)="btnClick()" >REGISTRATE</a></p>

  </form>
</div>
</body>